body{
    background-color: skyblue;
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

.form {
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

#profile-pic {
    width: 200px;
    height: auto;
    border-radius: 50%;
}



#nav {
    padding: 20px;
    width: 300px;
    align-content: center;
}

.button {
    font-weight: bold;
    padding: 20px 30px;
    background-image: linear-gradient(180deg, lightgreen, limegreen);
    box-shadow: 0 3px 3px 0 rgb(0,0,0,0.2),
                0 5px 5px 0 rgb(0,0,0,0.5);
    color: black;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    width: max-content;
    border: 0px;
    margin: 10px 0px 10px 0px;
}

.button:link {

}
.button:visited {

}
.button:hover {
    background-image: linear-gradient(0deg, green, lightgreen);
    box-shadow: none;
    cursor: pointer;
 }
.button:active {

}

.form-label {
    font-size: 16px;
    display: block;
    text-align: left;
    margin-bottom: 10px;
}

.form-field,
select{
    padding: 10px;
    width: 95%;
    border-radius: 2px;
    font-family: inherit;
    display: block;
    border: 1px solid #777;
}

.output{
    margin: auto;
    width: 50%;
    padding: 10px;
    align-content: center;
}

.output h2{
    text-align: center;
    font-size: 24px;
    padding-bottom: 3px;
}

.output p {
    text-align: center;
    font-size: 16px;
    padding-bottom: 2px;
}
.output a{
    text-align: center;
}

.output ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.input{
    margin: 30px;
    width: 50%;
    align-content: center;
}

.input h2{
    font-size: 24px;
    padding: 3px 0px 3px 0px;
}

.input p {
    font-size: 16px;
    padding: 2px 0px 2px 0px;
}
.input a{

}
